
  <% provide(:title, 'All Users') %>

  <h2 class="section-heading">All Companies/Users</h2>
  <ul>
      <% @users.each do |f| %>
        <li>
          <a href="/users/<%= f.id %>"><h4><%= f.company_name %></a></h4>
        </li>
      <% end %>
  </ul>

  <div class="container text-right"><h4><%= will_paginate @users %></h4></div>
