/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

 .bold {
   font-weight: bold;
 }

 .lgmartop {
   margin-top: 60px;
 }

 .mdmartop {
   margin-top: 30px;
 }

 .smmartop {
   margin-top: 10px;
 }

 .lgmarbot {
   margin-bottom: 60px;
 }

 .mdmarbot {
   margin-bottom: 30px;
 }

 .lgpadlft {
   padding-left: 30px;
 }

 .lgpadrt {
   padding-right: 100px;
 }

 .mdpadrt {
   padding-right: 60px;
 }

 .mdpadtop {
   padding-top: 20px;
 }

.fix-width {
  width: 27%;
  margin-right: 5%;
  margin-bottom: 1%;
}

th, td {
  padding: 0 10px;
  border: 1px dotted lightgrey;
}

td {
  border: 1px dotted lightgrey;
}

th a {
  color: #f05f40;
  background-color: transparent;
  border: none;
}
th a:hover {
  color: #8CC541;
  background-color: transparent;
  border: none;
}

th .current {
  padding-right: 25px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc {
  background-image: url(up_arrow.png);
  background-size: 15px 10px;
  background-color: transparent;
  border: none;
}

th .desc {
  background-image: url(down_arrow.png);
  background-size: 15px 10px;
  background-color: transparent;
  border: none;
}

.search input{
  border: 1px solid lightgrey;
}
