<!--footer-->
<footer class="footer bg-dark">
   <div class="text-center center-block">
            <a href="https://www.linkedin.com/company/avr-recycling" target="_blank"><i id="social" class="fa fa-linkedin-square fa-3x"></i></a>
          <a href="https://twitter.com/avritek" target="_blank"><i id="social" class="fa fa-twitter-square fa-3x"></i></a>
          <a href="mailto:info@avr-recycling.com" target="_blank"><i id="social" class="fa fa-envelope-square fa-3x"></i></a>
    <p><small>&copy; Avritek 650 Gateway Center Way Suite I, San Diego CA, 92102</small></p>
    </div>
</footer>
<!--end footer-->
